### Node.js
.env

# Default node files / directories
node_modules
.vscode

# Output files
dist
src/test*/
nodes.json
classes.json
db.json
*tree.json
.temp
.cache

# Turbo
.turbo

# Other
git-*
*-config.json
*.cs
*.txt
*.py
extract.bat

# Docs
apps/docs/src/core/
apps/docs/src/items/
apps/docs/src/kismet.ts/
apps/docs/src/parsers/
apps/docs/src/parsers-node/
apps/docs/src/shared/
apps/docs/src/util/
apps/docs/src/.vuepress/example.ts
apps/docs/src/.vuepress/packages/