### Node.js
.env

# Default node files / directories
node_modules
.vscode

# Output files
dist
src/test*/
nodes.json
classes.json
.temp
.cache

# Turbo
.turbo

# Other
git-*
*-config.json
*.cs
*.txt
*.py